<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spritehealth.sdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SDK">

        <activity
            android:name=".SpecialistDetail"
            android:label="@string/title_activity_specialist_detail"
            android:theme="@style/Theme.SDK.NoActionBar">

        </activity>

        <activity
            android:name=".VPTFinder"
            android:label="@string/title_activity_v_p_t_finder"
            android:theme="@style/Theme.SDK.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BookAppointment"
            android:label="Select Date &amp; Time"
            android:theme="@style/Theme.SDK.NoActionBar">
        </activity>

        <activity
            android:name=".PreviewAppointment"
            android:label="Review Appointment"
            android:theme="@style/Theme.SDK.NoActionBar">
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.SDK.NoActionBar">
        </activity>

    </application>

</manifest>